.card-columns {
    padding: 10px;
    margin: 20px;
  }
  
  .card {
    border-radius: 10%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .card:hover {
    background-color: whitesmoke;
    transform: translate3D(0, -1px, 0) scale(1.05);
  }
  
  .card-img-top {
    border-radius: 1em 1em 0 0;
  }
  
  .card-link {
    color: inherit;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: none;
  }